

<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">所有任务</h3>
    </div>

    <div class="box-body no-padding">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <th style="width: 10px;">#</th>
                    <th style="width: 40px;">状态</th>
                    <th>名称</th>
                    <th>描述</th>
                    <th>ServiceURL</th>
                    <th>CronString</th>
                    <th>操作</th>
                </tr>
                @{
                    var jobs = ViewBag.Jobs as List<JIF.Scheduler.Web.Models.JobInfo>;

                    foreach (var j in jobs)
                    {
                        <tr id="job-@j.Id-tr">
                            <td>1.</td>
                            <td><span id="job-@j.Id-status" class="label label-success">运行中</span></td>
                            <td>@j.Name</td>
                            <td>@j.Description</td>
                            <td>@j.ServiceUrl</td>
                            <td>@j.CronString</td>
                            <td>
                                <a id="job-@j.Id-option-start" href="javascript:;" class="btn btn-success btn-xs" data-id="@j.Id" data-name="@j.Name" style="display:none;">启动</a>
                                <a id="job-@j.Id-option-pause" href="javascript:;" class="btn btn-warning btn-xs" data-id="@j.Id" data-name="@j.Name">暂停</a>
                                <a href="/Home/Detail/@j.Id" class="btn btn-primary btn-xs">详情</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">

        $(function () {

            $('.btn-job-pause').on('click', function () {
                var id = $(this).attr('data-id');
                var name = $(this).attr('data-name');

                $.confirm({
                    type: 'red',
                    title: '通知',
                    content: '确认要暂停任务: [<b>' + name + '</b>]',
                    buttons: {
                        ok: {
                            text: '确定',
                            action: function () {
                                $.post('', function (result) {
                                    if (result.success) {
                                        $('job-' + id + '-status').removeClass('label-success');
                                        $('job-' + id + '-status').addClass('label-warn');
                                        $('job-' + id + '-option-pause').hide();
                                    } else {
                                        $.alert({
                                            type: 'orange',
                                            content: '失败: ' + result.message
                                        });
                                    }
                                });
                            }
                        },
                        no: {
                            text: '取消',
                            action: function () { }
                        }
                    }
                });
            });
        });

    </script>
}