

<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">所有任务</h3>

    </div>

    <div class="box-body no-padding">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <th style="width: 10px;">#</th>
                    <th>名称</th>
                    <th>描述</th>
                    <th>ServiceURL</th>
                    <th>CronString</th>
                    <th>运行状态</th>
                    <th>操作</th>
                </tr>
                @{
                    var jobs = ViewBag.Jobs as List<JIF.Scheduler.Core.Domain.JobInfo>;

                    foreach (var j in jobs)
                    {
                        <tr id="job-@j.Id-tr">
                            <td>1.</td>
                            <td>@j.Name</td>
                            <td>@j.Description</td>
                            <td>@j.ServiceUrl</td>
                            <td>@j.CronString</td>
                            <td>
                                <input type="checkbox" class="checkbox-switch" data-j-id="@j.Id" data-j-name="@j.Name" @{ j.Enabled ? "checked" : ""} />
                            </td>
                            <td>
                                <a href="/Home/Detail/@j.Id" class="btn btn-primary btn-sm">详情</a>
                            </td>
                        </tr>
    }
                }
            </tbody>
        </table>
    </div>
</div>


@section Scripts {

    <script type="text/javascript">

        $(function () {
            init();
        });


        function init() {

            // 初始化 运行状态选择插件
            initSwitch();
        }

        function initSwitch() {

            var elems = Array.prototype.slice.call(document.querySelectorAll('.checkbox-switch'));

            elems.forEach(function (el) {
                var sw = new Switch(el,
                    {
                        checked: true,
                        showText: true,
                        onText: 'ON',
                        offText: 'OFF',
                        onClick: function () {

                            var isRunning = el.checked;

                            var j_id = el.attributes.getNamedItem('data-j-id').value;
                            var j_name = el.attributes.getNamedItem('data-j-name').value;
                            var content = '确定要' + (isRunning ? '暂停' : '启动') + '任务 : ' + j_name.toString() + ' ?';
                            var serviceurl = isRunning ? '/home/pausejob/' : '/home/startjob/';

                            $.confirm({
                                type: 'red',
                                title: '通知',
                                content: content,
                                buttons: {
                                    ok: {
                                        text: '确认',
                                        action: function () {

                                            $.post(serviceurl, { id: j_id }, function (result) {
                                                if (result.success) {
                                                    sw.toggle();
                                                } else {
                                                    $.alert({
                                                        type: 'red',
                                                        title: '操作失败',
                                                        content: result.message
                                                    });
                                                }
                                            });

                                        }
                                    },
                                    no: {
                                        text: '取消',
                                        action: function () { }
                                    }
                                }
                            });

                        },
                    });
            });
        }

    </script>
}